.nav-extended{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  z-index: 1;
  background-color: #512036 !important;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .right {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-wrapper .right li {
  margin: 0 20px; 
}

.link {
  text-decoration: none;
  list-style-type: none;
  margin: 0 15px;
}
.dropdown-content{
  list-style-type: none;
}

.right li:first-child {
  margin-left: 120px; 
}
nav a .brand-logo.right{
  position: fixed;
  top: 0;
  width: 111px;
  right: 0rem !important;
}
.carrito {
  display: flex;
  align-items: center;
}

.carrito .link {
  display: flex;
  align-items: center;
}

.carrito .numerito {
  margin-left: 5px !important; 
  margin-right: 5px !important; 
}

.carrito .numerito {
  margin-left: auto; 
}

#dropdown1 a{
  color: black;
}