.page-footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
.contenedor p{
    color: #ffab40;
}
.contenido{
    display: flex;
}
.redes {
    color: white;
    align-items: center;
  }
  
  .redes:hover {
    color: #ffab40;
  }
  