.contenedor{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    
    background-color: #ee6e73;
}
.contenedor p{
    color: #ffab40;
}
.contenido{
    display: flex;
}
.redes {
    color: white;
    
  }
  
  .redes:hover {
    color: #ffab40;
    transform: scale(1.5) !important;
    transition: transform 0.3s ease-in-out !important;
  }
  