.page-footer{
    padding: 5px;
    justify-content: space-between;
    background-color: #1d1b1b !important;
}
.container p{
    color: #ffffff;
}
.redes {
    color: white;
    align-items: center;
  }
  
  .redes:hover {
    color: #000000;
  }
  